#container {
    position: absolute;;
    top: 0;
    left: 0;
}
#eyewhite {
    position: absolute;
    top: 177;
    left: 202;
    z-index: 1;
    pointer-events: none;
}
#face {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
    pointer-events: none;
}
#hair{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    pointer-events: none;
}
.slider{
    width: 250px;
    height: 70px;
}
html,
body,
canvas {
    margin: 0;
    padding: 0;
    height: 170%;
    width: 170%;
    z-index: 10;
}
body{
    background-color: #000;
    zoom: 170%;
    overflow:hidden;
}
#boundary{
    position: absolute;
    top: 150;
    left: 0;
    z-index: 100;
    height: 175%;
    width: 175%;
}
#eyeShine{
    position: absolute;
    z-index: 401;
    pointer-events: none;
    top: 180px;
    left: 179px;
}
#eyeLid{
    position: absolute;
    z-index: 410;
    width: 700px;
    height: 500px;
    background-repeat: no-repeat;
    pointer-events: none;
    background-size: contain;
    top: 295px;
    left: 207px;
}